:root{
    --header-color: #2c3e50;
    --first-color: #1abc9c;
    --second-color: #3a546d;
}

body{
    color: white;
}

#navbar{
    background-color: var(--header-color);
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
}

.star::after,
.star::before{
    content: '';
    display: inline-block;
    min-width: 10vw;
    max-width: 15vw;
    border: 2px solid currentColor;
    vertical-align: middle;
}

main >*:nth-child(odd){
    background-color: var(--first-color);
}

main >*:nth-child(even){
    color: var(--header-color);
}

#hero img{
    max-width: min(50%, 300px);
}

#hero ul{
    list-style: none;
    padding: 0;
    font-weight: 500;
}

#hero ul li:not(:last-of-type)::after{
    content: '-';
    padding: 0 2px;
}

#contact-me-form{
    border: 1px dashed var(--header-color);
    min-height: 50px;
}

.social-icons >*{
    aspect-ratio: 1;
}

.footer-top{
    background-color: var(--second-color);
}

.footer-bottom{
    background-color: var(--header-color);
}

.footer-top .row > div:last-child a{
    text-decoration: none;
    color: var(--first-color);
    font-weight: bold;
}